.todoapp {
  text-align:center;
}

.title {
  margin: 80px 0 40px 0;
  text-align:center;
  color:rgb(0, 0, 0);
  font-size: 20px;
}

body {
  font:'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: aqua;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 300;
}

input {
  width:50%;
  line-height: 1;
  padding: 4% 4%;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #99ffff;
  border: none;
}

input::placeholder {
  font-size: 20px;
 }

li {
  list-style: none;
  padding: 5% 3%;
  background-color: #99ffff;
  border-radius: 10px;
  margin-bottom: 5%;
  width: 60%;
  margin-left: 13%;
  font-size: 20px;
}

.edit-input {
  padding: 20px;
  border:#4d4d4d;
}

button {
  margin-left: 10%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
